@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
* {
    margin: 0;
    padding: 0;
    transition: all .3s ease;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 0;
}
h1 {
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}
.tag {
    color: #555;
}
.info {
    padding: 10px 0;
}
.info small {
    border-right: solid 1px #c7c7c7;
    color: #aaa;
    padding: 0 10px;
}
.info small a {
    color: #aaa;
    text-decoration: none;
}
.info small a:hover {
    color: #E08282;
}
.info small:first-child {
    padding-left: 0;
}
.info small:last-child {
    border-right: none;
}
.item {
    padding: 25px 0;
}
.item-block {
    width: 125px;
    vertical-align: top;
    display: inline-block;
}
.item-block h3 {
    color: #E08282;
    font-weight: 600;
    font-size: .875em;
    letter-spacing: 1px;
}
.items {
    width: 60%;
    display: inline-block;
}
.item-inside {
    margin: 0 0 30px 20px;
}
.item-inside h4 {
    font-weight: 600;
    color: #333;
    font-size: 1.1em;
    line-height: 1.1em;
    padding-bottom: 5px;
}
.item-inside b a {
    font-weight: 600;
    color: #555;
    text-decoration: none;
}
.item-inside b a:hover {
    color: #aaa;
}
.item-loc {
    padding: 5px 0;
    color: #555;
}
.item-skills {
    color: #777;
    margin-bottom: 8px;
}
.item-skills a {
    color: #E08282;
    text-decoration: none;
}
.item-skills a:hover {
    color: #aaa;
}
.item-date {
    color: #aaa;
    font-size: .875em;
}
.item-desc {
    line-height: 1.6em;
    padding-top: 8px;
    color: #777;
}
.item-desc a {
    color: #E08282;
    text-decoration: none;
}
.item-desc a:hover {
    color: #aaa;
}
@media (max-width: 40em) {
    .items {
        width: 100%;
    }
    .item-block, .items {
        display: block;
    }
    .item-inside {
        margin: 10px 0 20px 0;
    }
}
